# Dependencies
node_modules/
bun.lock

# Build outputs
.next/
out/
dist/
build/
target/
pkg/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Cache
.cache/
.turbo/

# TypeScript
*.tsbuildinfo
